<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Estaria seria la pagina donde veriamos lo relacionado con los anuncios  <%= title %></p>
    <p>Tipo de llamada <b><%= tipoDeLlamada %></b></p>

  </body>
</html>
