<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Basico de API <%= title %></p>
    <ul>
      <li><b>Arranque normal</b> = nodemon, apunta a node
    ./bin/www puerto <b>3000</b></li>


      <li><b>Arranque debug</b> = npm run debug , apunta a
    todas las carpetas con puerto <b>4000</b></li>


      <li><b>Anuncios</b> = Los anuncios estan almacenados en la carpeta anuncios en el <b>fichero anuncios.json</b></li>


      <li><b>Imágenes</b> = Las imágenes se almacenan en la carpeta <b>public/images/anuncios</b></li>


      <li><b>Rutas</b>= Se crean varias rutas de respuesta para las distintas necesidades.</li>

          <ul>
            <li><b>"/"</b> En la ruta principal: Tenemos este mismo mini tutorial</li>
            <li><b>/register</b>: Realizariamos lo conveniente al registro. Tambien hemos creado una vista para
            que se vea que responde.</li>
            <li><b>/login</b>: Realizariamos lo conveniente al login. Se crea una vista para comprobar que responde</li>
            <li><b>error</b>: Como tal esto ya existia se realizaran modificaciones si  es necesario sobre ellas</li>



          </ul>



    </ul>

  </body>
</html>
