<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Estaria seria la pagina para hacer login en  <%= title %></p>
    <p>Usuario/email: </p>
    <p>Contraseña: </p>
  </body>
</html>
