<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Pagina de registro de <%= title %> :</p>
    <p> Nombre: </p>
    <p> Email: </p>
    <p> Contraseña: </p>
    <p> Confirmar contraseña: </p>
  </body>
</html>
